/* ============================
COLOR SCHEME
============================ */

#COLORS {
	color: #2e3434;
	color: #3b4141;
	color: #7bc087;
	color: #9e9fa1;
	color: #a0472f;
}

/* ============================
MOBILE VIEW
============================ */
.report-icon {
	width: 20%;
	height: auto;
}
.body-component-dashboard {
	background: #3b4141;
}
.user-reports {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 100%;
}

.report-card {
	width: 80%;
	background-color: #9e9fa1;
	margin: 10px auto;
	padding: 10px;
	height: auto;
}

.incident-type,
.incident-date,
.incident-location,
.incident-description-title,
.incident-description {
	padding: 5px 0;
}

.incident-description-title {
	margin-top: 20px;
}

.delete-incident {
	border: none;
	background-color: #a0472f;
	width: 50%;
	margin-top: 15px;
	height: 25px;
	color: #ffffff;
}

.instructions {
	width: 80%;
	margin: 10px auto;
}

.instructions em {
	font-weight: bold;
}

/* ============================
MEDIA QUERIES
============================*/

/* tablet */


@media only screen and (min-width: 768px)  {
	.report-card {
		width: 50%;
		height: auto;
	}
}

/* desktop */

@media only screen and (min-device-width: 1024px) {
	.dashboard {
		display: flex;
	}

	.user-reports {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		padding: 50px;
	}

	.report-card {
		font-size: 125%;
		height: 325px;
		width: 300px;
	}
}
