
.report {
	flex: 1;
	margin: 0 auto;
	width: 80%;
	padding: 35px 0px;
}

.filter-container {
	padding-bottom: 15px;
}

.filter {
	background: #2e3434;
	height: 30px;
	width: 80%;
	padding: 25px;
	border: none;
	color: white;
}

.autocomplete-dropdown-container {
	background: #2e3434;
}


.report {
	background-color: #3b4141;
}

#type {
	margin: 20px;
	width: 80%;
	background-color: #2e3434;
	height: 40px;
	color: #ffffff;
	border: none;
	text-align: center;
}

.report label {
	color: #ffffff;
}

#date {
	padding: 20px;
	width: 80%;
	background-color: #2e3434;
	height: 30px;
	color: #ffffff;
	border: none;
}

#time {
	padding: 20px;
	width: 80%;
	background-color: #2e3434;
	height: 30px;
	color: #ffffff;
	border: none;
}

#description {
	padding: 20px;
	width: 80%;
	background-color: #2e3434;
	height: 30px;
	color: #ffffff;
	border: none;
}

.report-button {
	background-color: #7bc087;
	height: 30px;
	width: 80px;
	border: none;
	color: white;
}

.filter {
	background: #2e3434;
	height: 40px;
	width: 80%;
	border: none;
	color: white;
}


